body {
    background-color:rgb(72, 72, 72);
    /* border: 3px solid black; */
}

/* Header Social Media Icons  */

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin: 0;
    padding: 0%;
    /* border: 2px solid red; */
}

li :hover {
    background-color: white;
}
/* Main Body */

.main-container {
 border: 5px solid black;
 background-color: black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: auto;
 /* width: 80%; */
 /* flex-wrap: wrap; */
}

.box {
    width: 600px;
    height: 200px;
    /* border: 3px solid red; */
}

/* Section 1 */
/* Section 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 5px solid tan; */
}
.box1-2 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* border: 5px solid black; */
}


img[src="/onlineResume/images/george-carlin.jpg"] {
/* border: 3px solid red; */
width: 300px;
padding: 10px;
}

#box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#box1 .text {
    color: rgb(203, 203, 203);
    font-size: large;
    text-align: center;
    margin: 0;
    padding: auto;
}
#box2 {
    text-align: center;
    
}
#box2 span {
    font-size: 18px;
    font-weight: 700;
    color:  rgb(203, 203, 203);
}

#box2 p {
    color:  rgb(88, 87, 87);
}

#box3 {
    width: 1205px;
    height: 100px;
    margin: 0%;
}
#box3 p {
    margin: 0%;
    color:  rgb(88, 87, 87);
}

/* Section 2 */
/* Section 2 */

.section2-3 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    /* border: 5px solid tan; */
}  

#section-2 h1, #section-2 h3, #section-3 h1 {
    color: rgb(203, 203, 203);
    font-size: 20px;
    margin: 1px;
}
#section-2 p, #section-3 p {
    color: rgb(203, 203, 203);
    margin: 0;
}

.box23 {
   /* border: 3px solid red; */
   width: 50%;
   padding: 5%;
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .main-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        border: 5px solid white;
    }
    #box1 {
        flex-direction: column;
        margin-top: 10%;
        margin-right: 100vw;
        /* border: 5px solid tan; */
        
    }

    #box1 .text {
        margin-bottom: 25px;
    }

    #box2 {
        margin-top: 25px;
    }
    .box1-2 {
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
    }

    #box3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: 80%;

    }
    #box3 p {
        border: 2px solid red;
        text-align: center;
        margin: 0;
        
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { */
    /* .main-container {
        flex-direction: column;
    } */
/* } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 
