<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Express | <%= title %> </title>
</head>
<body>


    <h1> Views from Express </h1>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, possimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ipsum.
    </div>
    <form action="/download-img">
        <button type="submit">Download</button>
    </form>
    
    <a href="/about-express"> About Express</a>

</body>
</html>