body {
    background-color: rgb(28, 28, 28);
    /* width: 80%; */
    /* margin: auto; */
}
.main_container{
    background-color: rgb(90, 89, 88);
}
.socialHeader {
    display: flex;
    width: 95%;
    justify-content: flex-end;
 
}
ul {
    list-style: none;
    display: flex;
    column-gap: 15px;
    }
        
/* ^---header with socials icons */

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    /* background-color: lightblue; */
    /* border: 3px solid red; */
}
#box12 {
    display: flex;
    align-items: center;
}

.section1 .box {
    background-color:rgb(90, 89, 88); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* width: 100%; */
    /* height: 150px; */
    /* border: 2px solid black; */
} 


#box1 img[src="/onlineResume/images/george-carlin.jpg"]
{
    width: 200px;
    height: 125px;
    padding: 5px;
}

#box1 {
justify-content: space-between;
align-items: center;
}

#box1 h1, #box1 p {
    color: white;
    font-weight: 100;
    margin: auto;
}

#box2 {
    justify-content: flex-start;
}

#box2 p {
    color: rgb(171, 168, 168);
    font-weight: 30px;
    margin: 1%;
    font-size: 18px;
}
#box2 span{
    font-size: large;
    font-weight: 100;
    color: white;
    /* text-decoration: underline; */
}

#box3 {
    width: 620px;
    height: 50px;
    color: rgb(171, 168, 168);
    font-weight: 30px;
    margin: 1%;
    font-size: 18px;
}
 .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.section2 .box {
    margin-left: 30%;
    color: rgb(171, 168, 168);
    font-weight: 30px;
    margin: 0;
    font-size: 18px;
    /* border: 2px solid red; */
    /* width: 400px; */
}