<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <title> Express Lab SBA 318 </title>
</head>
<body>


    <h1> Express APP </h1>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, possimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ipsum.
    </div>
    
    <h2> 

        <a href="/users"> JSON Users</a><br>
        <a href="/products"> JSON Products </a> <br>
        <a href="/reviews"> JSON Reviews </a>
        
    </h2>
</body>
</html>